@mixin paddingPages {
  padding: 0% 3% 3% 3%;
  justify-content:center;
}
@mixin title {
   padding: 4% 0%;
   font-size: $titleSize !important;
   font-weight: bold !important;
  }
  @mixin iconStyle {
    color:$colorSecondary;
   font-size:30px;
   }
   @mixin button {
    .btn {
      background-color: $colorPrimary !important;
      color: $colorSecondary !important;
      border:2px solid $colorSecondary !important;
      font-size: $sizeButton !important;
      padding: 1%!important;
  }
  .btn:hover{
      outline: none !important;
       border:none !important;
      color: $colorSecondary;
      background-color: $colorPrimary;
      border:2px solid $colorSecondary !important;
       padding: 1% !important;
  }
   }